[Unit]
Description=Minio (S3 compatible storage)
Wants=docker.socket
After=docker.service

[Service]
User=root
PermissionsStartOnly=true
ExecStart=/usr/bin/docker run -p 9000:9000 -e "MINIO_SSE_MASTER_KEY=my-minio-key:3b9bad1bc206363d25a42ebab8f0c82f04d761936ce4285c3b0cdbd5ac21de1d" -e "MINIO_ACCESS_KEY=VWFMMF0IAU20NOYU49W5" -e "MINIO_SECRET_KEY=pZivezDT92M57agFLYhbdOFXZNXi0bDjUbOMExK4" -v /mnt/data:/data --restart on-failure:5 --name minio minio/minio server /data
ExecStartPre=-/usr/bin/docker rm -f minio
ExecStop=/usr/bin/docker stop minio
Restart=always
RestartSec=15s
TimeoutStartSec=30s

[Install]
WantedBy=multi-user.target
